# Notebook with minimal example to run hpo glue Optimizers on Benchmarks

<a href="https://githubtocolab.com/Sohambasu07/hpo_glue/blob/main/examples/glue_demo.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"></a>

## Install hpo glue

In [ ]:
!git clone https://github.com/Sohambasu07/hpo_glue.git
!cd hpo_glue
!python -m pip install -e .

## Print the list of available example benchmarks and optimizers

In [1]:
from lib import BENCHMARKS, OPTIMIZERS

print(OPTIMIZERS)
print(BENCHMARKS)

{'RandomSearch': <class 'lib.optimizers.random_search.RandomSearch'>}
{'ackley': BenchmarkDescription(name='ackley2', load=functools.partial(<bound method FunctionalBenchmark.load of <hpo_glue.benchmark.FunctionalBenchmark object at 0x7938471e1b40>>), metrics={'value': Measure(minimize=True, kind=<Kind.METRIC: 'metric'>, bounds=(0.0, inf))}, test_metrics=None, costs=None, fidelities=None, has_conditionals=False, is_tabular=False, env=<bound method Env.empty of <class 'hpo_glue.env.Env'>>, mem_req_mb=100), 'branin': BenchmarkDescription(name='branin2', load=functools.partial(<bound method FunctionalBenchmark.load of <hpo_glue.benchmark.FunctionalBenchmark object at 0x793846704460>>), metrics={'value': Measure(minimize=True, kind=<Kind.METRIC: 'metric'>, bounds=(0.397887, inf))}, test_metrics=None, costs=None, fidelities=None, has_conditionals=False, is_tabular=False, env=<bound method Env.empty of <class 'hpo_glue.env.Env'>>, mem_req_mb=100)}

## Select RandomSearch Optimizer and ackley Functional Benchmark

In [2]:
opt = OPTIMIZERS["RandomSearch"]
bench = BENCHMARKS["ackley"]

## Define a Problem with a budget and run hpo_glue with a seed

In [4]:
from hpo_glue.run_glue import run_glue

result_df = run_glue(
    run_name="hpo_glue_demo",
    optimizer=opt,
    benchmark=bench,
    budget=50,
    seed=0
)

result_df

,budget_cost,budget_used_total,config,continuations_cost,fidelity,query,trajectory,values
0,1,1.0,"Config(config_id='1', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='1', values={'x0...",None,{'value': 17.175806745425536}
1,1,2.0,"Config(config_id='2', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='2', values={'x0...",None,{'value': 20.2289008503735}
2,1,3.0,"Config(config_id='3', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='3', values={'x0...",None,{'value': 21.61077154648434}
3,1,4.0,"Config(config_id='4', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='4', values={'x0...",None,{'value': 20.41337202790521}
4,1,5.0,"Config(config_id='5', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='5', values={'x0...",None,{'value': 18.738997749537866}
5,1,6.0,"Config(config_id='6', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='6', values={'x0...",None,{'value': 21.119969002032654}
6,1,7.0,"Config(config_id='7', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='7', values={'x0...",None,{'value': 21.5412736746713}
7,1,8.0,"Config(config_id='8', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='8', values={'x0...",None,{'value': 21.41346588813888}
8,1,9.0,"Config(config_id='9', values={'x0': np.float64...",NaN,None,"Query(config=Config(config_id='9', values={'x0...",None,{'value': 20.341531499080656}
9,1,10.0,"Config(config_id='10', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='10', values={'x...",None,{'value': 20.51081643878016}
10,1,11.0,"Config(config_id='11', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='11', values={'x...",None,{'value': 18.149910698317996}
11,1,12.0,"Config(config_id='12', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='12', values={'x...",None,{'value': 15.2273919681294}
12,1,13.0,"Config(config_id='13', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='13', values={'x...",None,{'value': 19.02999974305979}
13,1,14.0,"Config(config_id='14', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='14', values={'x...",None,{'value': 16.15007808961409}
14,1,15.0,"Config(config_id='15', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='15', values={'x...",None,{'value': 21.206254590666855}
15,1,16.0,"Config(config_id='16', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='16', values={'x...",None,{'value': 20.561131394147836}
16,1,17.0,"Config(config_id='17', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='17', values={'x...",None,{'value': 20.965598201377432}
17,1,18.0,"Config(config_id='18', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='18', values={'x...",None,{'value': 20.1243826670248}
18,1,19.0,"Config(config_id='19', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='19', values={'x...",None,{'value': 20.96424353823675}
19,1,20.0,"Config(config_id='20', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='20', values={'x...",None,{'value': 14.411137713439015}
20,1,21.0,"Config(config_id='21', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='21', values={'x...",None,{'value': 21.902177328102432}
21,1,22.0,"Config(config_id='22', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='22', values={'x...",None,{'value': 20.40291128257226}
22,1,23.0,"Config(config_id='23', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='23', values={'x...",None,{'value': 21.970818673371134}
23,1,24.0,"Config(config_id='24', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='24', values={'x...",None,{'value': 18.624176238426855}
24,1,25.0,"Config(config_id='25', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='25', values={'x...",None,{'value': 20.515290743317724}
25,1,26.0,"Config(config_id='26', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='26', values={'x...",None,{'value': 21.85663941698525}
26,1,27.0,"Config(config_id='27', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='27', values={'x...",None,{'value': 20.79621421219257}
27,1,28.0,"Config(config_id='28', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='28', values={'x...",None,{'value': 22.126784476064458}
28,1,29.0,"Config(config_id='29', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='29', values={'x...",None,{'value': 21.257209883540494}
29,1,30.0,"Config(config_id='30', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='30', values={'x...",None,{'value': 20.459893510740105}
30,1,31.0,"Config(config_id='31', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='31', values={'x...",None,{'value': 22.043070710153472}
31,1,32.0,"Config(config_id='32', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='32', values={'x...",None,{'value': 21.29660633736042}
32,1,33.0,"Config(config_id='33', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='33', values={'x...",None,{'value': 18.144151566501087}
33,1,34.0,"Config(config_id='34', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='34', values={'x...",None,{'value': 20.48070355949558}
34,1,35.0,"Config(config_id='35', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='35', values={'x...",None,{'value': 21.81922190588989}
35,1,36.0,"Config(config_id='36', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='36', values={'x...",None,{'value': 19.499970377189403}
36,1,37.0,"Config(config_id='37', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='37', values={'x...",None,{'value': 21.104475116482373}
37,1,38.0,"Config(config_id='38', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='38', values={'x...",None,{'value': 20.63934265967104}
38,1,39.0,"Config(config_id='39', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='39', values={'x...",None,{'value': 21.87111458665634}
39,1,40.0,"Config(config_id='40', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='40', values={'x...",None,{'value': 21.48246362550172}
40,1,41.0,"Config(config_id='41', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='41', values={'x...",None,{'value': 14.418107392114365}
41,1,42.0,"Config(config_id='42', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='42', values={'x...",None,{'value': 21.351945404428744}
42,1,43.0,"Config(config_id='43', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='43', values={'x...",None,{'value': 21.358897090415727}
43,1,44.0,"Config(config_id='44', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='44', values={'x...",None,{'value': 18.446211363905167}
44,1,45.0,"Config(config_id='45', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='45', values={'x...",None,{'value': 17.593251375306885}
45,1,46.0,"Config(config_id='46', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='46', values={'x...",None,{'value': 21.34749966369707}
46,1,47.0,"Config(config_id='47', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='47', values={'x...",None,{'value': 21.293470562030148}
47,1,48.0,"Config(config_id='48', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='48', values={'x...",None,{'value': 19.926609230909392}
48,1,49.0,"Config(config_id='49', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='49', values={'x...",None,{'value': 20.59905213530614}
49,1,50.0,"Config(config_id='50', values={'x0': np.float6...",NaN,None,"Query(config=Config(config_id='50', values={'x...",None,{'value': 20.028553752524957}